body {
    font-family: Arial, sans-serif;
    background-color: #101010;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .faq-container {
    background: #212121;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    color: #fff;
    width: 90%;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .faq-item:last-child {
    border-bottom: none;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    color: royalblue;
  }
  
  .faq-toggle {
    font-weight: bold;
    font-size: 18px;
    color: royalblue;
  }
  
  .faq-answer {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #fefefe;
    line-height: 1.5;
  }
  
  .faq-answer.active {
    display: block;
  }
  